@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: burlywood;
  transition: background-color 0.3s;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  background-color: #ddd;
  border-bottom: 1px solid #bbb;
  font-size: 24px;
  font-weight: 700;
}

.logo {
  color: rgb(161, 60, 255);
}

.myName {
  color: #333;
  font-size: 22px;
  font-family: "Pacifico", cursive;
}

.center__div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text__div {
  background-color: #333;
  width: 400px;
  height: 50px;
  border-radius: 6px;
  color: #fff;
  font-size: 25px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}

.code__span {
  color: burlywood;
  margin-left: 8px;
}

button {
  margin-top: 1.5rem;
  background: none;
  padding: 4px 12px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid blueviolet;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
}

button:hover {
  background-color: gray;
  color: #eee;
}
