@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("https://wallpapercave.com/wp/wp8834188.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  background-color: #ddd;
  border-bottom: 1px solid #bbb;
  font-size: 24px;
  font-weight: 700;
}

.logo {
  color: rgb(161, 60, 255);
  font-size: 18px;
}

.myName {
  color: #333;
  font-size: 14px;
  font-family: cursive;
  margin-left: 14px;
  transition: color 0.3s;
}

.myName:hover {
  color: darkolivegreen;
  cursor: pointer;
}

.tab {
  display: flex;
}

.tab1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #ddd;
  position: absolute;
  top: 50px;
  padding: 16px 10px;
  display: none;
}

.t1 {
  font-size: 18px;
  margin-top: 12px;
  padding-bottom: 4px;
  border-bottom: 1px solid #bbb;
}

.nav {
  writing-mode: vertical-lr;
  cursor: pointer;
  transition: color 0.3s;
  display: none;
}

.nav:hover {
  color: brown;
}

.active {
  display: block;
}

@media screen and (max-width: 568px) {
  .tab {
    display: none;
  }
  .nav {
    display: block;
  }
}
