@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  background-color: #ddd;
  border-bottom: 1px solid #bbb;
  font-size: 24px;
  font-weight: 700;
  z-index: 100;
}

.logo {
  color: rgb(161, 60, 255);
}

.myName {
  color: #333;
  font-size: 22px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 800px;
}

.top {
  position: absolute;
  top: 20%;
}

h2 {
  margin-bottom: 10px;
  font-size: 23px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

span {
  letter-spacing: 3px;
}

input {
  margin: 0 5px;
  padding: 0 5px;
  width: 50px;
  outline: none;
}

button {
  margin-left: 10px;
  padding: 2px 16px;
  font-size: 15px;
  text-transform: uppercase;
  background-color: blueviolet;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(137, 184, 27);
}

.bottom {
  margin-top: 5rem;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 40px;
}

.text {
  padding: 0 12px;
  text-align: center;
  height: 250px !important;
  overflow-y: scroll;
}
