@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  background-color: #ddd;
  border-bottom: 1px solid #bbb;
  font-size: 24px;
  font-weight: 700;
  z-index: 100;
}

.logo {
  color: rgb(161, 60, 255);
}

.myName {
  color: #333;
  font-size: 22px;
}

img {
  width: 250px;
  margin-right: 20px;
  border: 3px solid goldenrod;
  border-radius: 6px;
}

.container {
  position: absolute;
  top: 35%;
  width: 100%;
  padding: 12px 36px;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, 600px);
  gap: 40px;
}

.item {
  display: flex;
  width: 600px;
}

.tops {
  display: flex;
  padding: 4px 12px;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(184, 136, 17);
}

h4 {
  font-size: 18px;
  letter-spacing: 2px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.price {
  color: rgb(184, 136, 17);
}

p {
  font-size: 13px;
  text-align: justify;
}

.buttons {
  position: absolute;
  top: 150px;
}

button {
  background: none;
  padding: 2px 8px;
  font-size: 16px;
  margin: 20px 2px;
  border-color: goldenrod;
  color: goldenrod;
  cursor: pointer;
}

button:hover {
  padding: 2px 20px;
  background-color: blueviolet;
}

h2 {
  position: absolute;
  top: 100px;
  font-size: 30px;
}

.active {
  padding: 2px 20px;
  background-color: blueviolet;
}
